# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.ini text eol=lf
*.md text eol=lf
*.py text eol=lf
*.sh text eol=lf
run text eol=lf