# Set default behaviour, in case users don't have core.autocrlf set.
text eol=lf

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.conf   text
*.md    text
*.sh    text
